*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     background-image: url("desktop_bg.png");
     background-size:cover;
     font-family: 'Montserrat';
     color:#000000;
}

.scene, canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.sidebar{
    position: absolute;
    width:32vw;
    height:100vh;
    right:0;
    background-image: linear-gradient(135deg, rgba(65, 62, 62, 0.534), rgba(65, 62, 62, 0.212));
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius:10px 0px 0px 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.container{
    margin-left:1.5vw;
    margin-top :8vh;
    width: min(90%,70.5em);
}

.divider{
    height:55px;
    width :2px;
    background-color: black;
}

.desc-container{
    color:black;
    font-weight:bold;
    margin-top:3vh;
    padding:10px;
    border-radius:10px;
    background-color:rgb(252, 239, 55);
    box-shadow: 0px 0px 20px rgb(252, 239, 55);
}

.btn-container{
    display:flex; 
    justify-content:center;
    margin-top:8vh;
}

.btn-a{
    border: 3px solid red;
    box-shadow: -0px 0px 15px rgba(240, 72, 66, 0.788);
    border-radius:10px;
    padding-inline:10px;
    height:50px;
    padding-top:10px;
    text-decoration: none;
    color:white;
    display:block;
}

.github{
    width:50px;
    height:50px;
    margin-top:9px;
}

.stats{
    background-color: rgba(238, 130, 238, 0.788);
    padding:10px;
    border-radius:10px;
    box-shadow: -0px 0px 15px rgba(238, 130, 238, 0.788);
    display:flex; 
    justify-content:space-between;
    margin-top:4vh;
}

h2{
    font-size:33px;
    font-weight: bolder;
    color:white;
}

@media (max-width: 40em){
    .sidebar{
        position: absolute;
        width:100%;
        top:80vh;
        height:auto;
        border-radius:10px 10px 0px 0px;
        
    }
    body{
        background-image:url("mobile_bg.png");
    }
    .container{
        margin-left:5vw;
    }
}